<mat-sidenav-container class="example-container">
    <mat-sidenav #sideNav class="example-sidenav-content" position="end">
        <router-outlet></router-outlet>
    </mat-sidenav>
        <button type="button" mat-button (click) = "sideNav.open()">
            Open sidenav
        </button>
        <mat-card>Quesion 1?</mat-card>
        <mat-card>Quesion 2?</mat-card>
        <mat-card>Quesion 3?</mat-card>
        <mat-card>Quesion 4?</mat-card>
        <mat-card>Quesion 5?</mat-card>
</mat-sidenav-container>
