<mat-sidenav-container class="example-container">
    <mat-sidenav #sideNav class="example-sidenav-content" position="end">
        <router-outlet></router-outlet>
    </mat-sidenav>
        <button type="button" mat-button (click) = "sideNav.open()">
            Open sidenav
        </button>
        <mat-card>
                <mat-card-header>
                <mat-card-title>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                </mat-card-title>
                </mat-card-header>
                <mat-card-actions>
                  <button mat-button>ABRIR</button>
                </mat-card-actions>
              </mat-card>
        <mat-card>Quesion 1?</mat-card>
        <mat-card>Quesion 2?</mat-card>
        <mat-card>Quesion 3?</mat-card>
        <mat-card>Quesion 4?</mat-card>
        <mat-card>Quesion 5?</mat-card>
</mat-sidenav-container>
