<form #frmRoomRegister= "ngForm" (submit)="register($event)" [ngClass]="{'large-form':mqAlias==='xs'||mqAlias==='sm','small-form':mqAlias==='md'||mqAlias==='lg'||mqAlias==='xl'}" class="form-container ">
  <mat-form-field class="full-width">
      <input matInput name="txtName" placeholder="Nome da sala" [(ngModel)]="name" #roomName required>
  </mat-form-field>
  <mat-form-field class="full-width">
      <textarea name= "txtDescription" matInput placeholder="Descrição" [(ngModel)]="description" #roomDescription required></textarea>
  </mat-form-field>
  <button mat-button type="submit"  class="full-width">Criar</button>
</form>