<md-card _ngcontent-c6="" class="mat-card">
  <md-card-title-group _ngcontent-c6="" class="mat-card-title-group"><div><md-card-title _ngcontent-c6="" class="mat-card-title ">Card with title</md-card-title><md-card-subtitle _ngcontent-c6="" class="mat-card-subtitle ">Subtitle</md-card-subtitle></div><img _ngcontent-c6="" class="mat-card-md-image" md-card-md-image="">
    <div>
      <md-card-title _ngcontent-c6="" class="mat-card-title ">Card with title</md-card-title>
      <md-card-subtitle _ngcontent-c6="" class="mat-card-subtitle ">Subtitle</md-card-subtitle>
    </div>    
    <img _ngcontent-c6="" class="mat-card-md-image" md-card-md-image="">   
  </md-card-title-group>
</md-card>